---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$uhero_blue:        rgb(49, 130, 189);
$uhero_orange:      rgb(255, 152, 71);

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-footer{ position:relative; top:50px}
#county_revenue.nav_link { margin:0 }

.nav_link { 
  text-align:center; 
  margin: 0 5px 0 0; 
  padding: 5px 0; 
  background-color:#cccccc; 
  color: #5d5d5d; 
  text-transform:uppercase; 
  float:left; 
  font-size:11px; 
  font-weight: bold;
}

.nav_link:hover {
	background-color: #c4def5;
    color: #5d5d5d;
	cursor: pointer;
}
#dashboard { clear:both; }
#line_chart, #supplemental_chart, #pie_chart,
.dashboard_element 
{ border: 1px solid #FFF; float:left;  }

#line_chart {  }
#supplemental_chart { }
#pie_chart { }

#data { 
  clear:both; 
  position:relative; 
  /*top:50px */
}

#source_links { clear: both; position:relative; top:50px; margin-top:100px; text-align:right; font-size:10px;}

h2#headline { padding: 10px 0 0 0; }

/*********** Line Chart *****************/
path.domain { fill:none; stroke: #777; stroke-width:1 }
g.tick text { font-size: 10px; fill: #777}
g.tick line {stroke: #777; stroke-width:1 }
path.line_chart_path { fill:none; stroke-width:2}
#left_axis_label { fill: rgb(255, 152, 71); stroke: rgb(255, 152, 71) }
.s_left, path.line_chart_path.with_bar{ stroke: rgb(255, 152, 71) }
#right_axis_label { fill: rgb(49, 130, 189); stroke: rgb(49, 130, 189) }
.s_right { stroke: rgb(49, 130, 189) }
.yoy { stroke: rgb(49, 130, 189); fill: rgb(49, 130, 189) }



/*********** Pie Chart Stuff *****************/
#pie_chart_svg {overflow: visible}
g#pie_chart_area text { pointer-events: none; stroke: black}

/*********** Treemap Stuff ******************/
#pie_notes { font-size: 9px}
g#pie_chart_area rect { stroke: white; stroke-width: 1}
#treemap_tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  pointer-events: none;
  background-color: rgb(49, 130, 189);
  color: white
}

#treemap_tooltip.hidden {
  display: none;
}

#treemap_tooltip_heading {
  font-weight: bolder
}

#treemap_tooltip p {
  margin: 0;
  /*font-family: sans-serif;*/
  font-size: 16px;
  line-height: 20px;
}

/*********** General Div Alignment *****************/
#controls {clear:both; top:67px; height:35px }
#series_display {clear:both;}
#series_history {clear:both}


/*********** Slider Stuff *****************/
.ui-widget-header { background:none;}
.ui-slider-horizontal { height: 0.4em }
.ui-slider .ui-slider-handle{
    width:5px; 
    height:15px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.3em; 
}

#time_slice_slider_div.ui-slider .ui-slider-handle,
#datatable_slider_div.ui-slider .ui-slider-handle { height:.4em; width:15px; top: -.05em; margin-left: -0.5em}

#sparkline_slider_container {width:370px; float:left;}
#datatable_slider_container {width:300px; float:left; margin-left:50px}

/* should probably set in code when setting the rectangle sizes */
#line_chart_slider_container{ width:330px; float:left; margin-left:50px; }
#time_slice_slider_container{ width:250px; float:left; margin-left:80px; margin-top: 28px }

#line_chart_slider_div { clear:both }

.noUi-connect { background: rgb(49, 130, 189)}
.noUi-handle::before, .noUi-handle::after { background: rgba(49, 130, 189, 0.5)}
/*********** Flextable Stuff *****************/

// new styles
.header_cell {
    float: left;
    margin-right: 10px;
    width: 42px;
}
.cell_value, .cell_yoy {
    display: block;
}
.cell_yoy.pos {
    color: $uhero_blue;
}
.cell_yoy.neg {
    color: $uhero_orange;
}
.ytd_cell {
    width: 99px;
    float: left;
    text-align: center;
}
.ytd_cell span {
    display: block;
}
.ytd_cell .last_date {
    opacity: 0.5;
}
.ytd_cell .ytd_change.pos {
    color: $uhero_blue;
}
.ytd_cell .ytd_change.neg {
    color: $uhero_orange;
}
#frequency_controls {
    display: inline;
}
#frequency_controls span.enabled {
    padding: 2px 5px;
    color: $uhero_blue;
    font-weight: bolder;
    cursor: pointer;
}
#frequency_controls span.enabled:hover {
    border-bottom: 2px solid $uhero_blue;
}
#frequency_controls span.selected {
    padding: 2px 5px;
    color: white;
    background-color: $uhero_orange;
    font-weight: bolder;
}
#export, #reset {
    padding: 2px 5px;
    color: $uhero_blue;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}
#export:hover, #reset:hover {
    border-bottom: 2px solid $uhero_blue;
}
#secondary_controls {
    margin-top: 380px;
}

.category { clear:both;}
.cat_label { cursor:pointer; border-bottom:2px solid rgb(49, 130, 189)}
#category_header { width:150px; }

.series_label, .sparkline, .selected_value, .selected_perc,
#category_header, #series_header, #sparkline_header, #level_header, #yoy_header,
#line_left_header, #ytd_header, #pie_header, #datatable_header,
.left_toggle, .right_toggle, .data_cols, .container, .cell {float:left}


.series {
    float:left; 
    /*width:450px; text-align:center;*/ 
    font-size:10px; 
    overflow:hidden;
    border-left: 1px solid white;
}

.series_label, #series_header { 
  width: 180px; 
}
.series.selected { 
    border-left: 1px solid rgb(49, 130, 189);
    background-color: #F0F0F0
}
.series.hovered  { 
    border-left: 1px solid rgb(107, 174, 214);
    background-color: #EEE;
}

.series_label {padding-left: 20px; padding-top: 1em; line-height: 1em}
.child .series_label span { padding-left: 10px;}
.series_label span { display: inline-block; vertical-align:middle; line-height:normal;}

#datatable_header { width: 270px; overflow:hidden; height:100%; margin-left: 10px;}
.data_cols { width: 270px; overflow:hidden; height:100%}
.container { height:100%; }
.cell { float: left; height:100%; border:0px solid red; width:50px; text-align:center }

.sparkline, #sparkline_header { width:150px; }
.selected_value, #level_header { width:70px; }
.selected_perc, #yoy_header { width: 40px; }

#line_left_header { width: 40px }
#ytd_header { width: 90px }
#pie_header { width: 40px }
.left_toggle, .right_toggle { 
    width: 40px; 
    text-align:center; 
    font-size:20px; 
    line-height:45px; 
    cursor:pointer; 
    /*margin-right:50px;*/
}

#sparkline_header {font-weight:bold; font-size:11px;}
#table_header { height: 48px; text-align:center; font-size:11px;}

#series_display h3{position: relative; bottom:40px}
#buttons a { text-decoration:none;}
#geo, #freq { float:left; margin-top:10px;}
#geo { width :300px; }
#freq {width :100px; }
#date_series_left{ font-size:12px; position:absolute; top:-20px; left:-20px}
#date_series_right{font-size:12px; position:absolute; top:-20px; left:345px}
#date_table{font-size:12px; position:absolute; top:-20px; left:700px}
#date_line_left{ font-size:12px; position:relative; float:left}
#date_line_right{font-size:12px; position:relative; float:right}

/* Clustered bar chart */
.clustered_bar_legend {
  font-size: 0.7em;
}

