<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">


    <script type="text/javascript" src="{{ site.baseurl }}js/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/vendor/jquery.min.js"></script>
    <script src="{{ site.baseurl }}js/vendor/queue.min.js"></script>
    <script src="{{ site.baseurl }}js/vendor/jquery-ui.js"></script>
    <script src="{{ site.baseurl }}js/polyfill.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}js/vendor/jquery-ui.css">
    <!-- noUiSlider stuff -->
    <script src="{{ site.baseurl }}js/vendor/nouislider/jquery.nouislider.all.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}js/vendor/nouislider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}js/vendor/nouislider/jquery.nouislider.pips.min.css">
    <!-- Twitter Bootstrap includes -->
    <script src="{{ site.baseurl }}js/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="{{  site.baseurl }}css/bootstrap.css">


    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- including the noUiSlider -->

    <!-- The noUiSlider script and stylesheet -->
    <!-- Use the files with *.min.* for the minified versions. -->
    <link href="/js/vendor/nouislider/jquery.nouislider.min.css" rel="stylesheet">

    <!-- Use the 'all' version to get all documented features. -->
    <!-- Includes wNumb, libLink and the pips add-on -->
    <script src="/js/vendor/nouislider/jquery.nouislider.all.min.js"></script>
	
</head>
